<div fxLayout="row-reverse" class="header">

    <div fxLayout="row" class="header-searchIcon">
        <i class="fa fa-search fa-2x width-80" fxLayout="column" fxLayoutAlign="center center"></i>
        <input type="text" placeholder="Search">
    </div>
    <div fxLayout="row-reverse">
        <div class="width-80"></div>
        <i class="fa fa-bell-o fa-2x width-50" fxLayout="column" fxLayoutAlign="center center"></i>
        <i class="fa fa-comments-o fa-2x width-50" fxLayout="column" fxLayoutAlign="center center"></i>
        <i class="fa fa-cog fa-2x width-50" fxLayout="column" fxLayoutAlign="center center"></i>
    </div>

</div>